body {
    background-color: lightblue;
  }
  
  h2 {
    color: navy;
    margin-left: 20px;
    font-family: "Arial", Arial, Sans-serif;
  }

  #demo {
      color: red;
  }

  img {
    max-width: 100%;
    height: auto;
  }

